# Import Libraries

In [98]:
import pandas as pd
from PIL import Image

# Loading Dataset (csv Files )

In [99]:
labels_csv = pd.read_csv("../kagglehub/datasets/hsankesara/flickr-image-dataset/versions/1/flickr30k_images/results.csv",delimiter='|')

In [100]:
labels_csv

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .
...,...,...,...
158910,998845445.jpg,0,A man in shorts and a Hawaiian shirt leans ov...
158911,998845445.jpg,1,"A young man hanging over the side of a boat ,..."
158912,998845445.jpg,2,A man is leaning off of the side of a blue an...
158913,998845445.jpg,3,"A man riding a small boat in a harbor , with ..."
158914,998845445.jpg,4,A man on a moored blue and white boat with hi...

# Data Preprocessing

In [101]:
# Listing Columns in the Dataframe
labels_csv.columns

Index(['image_name', ' comment_number', ' comment'], dtype='object')

### 1. Creating New Columns suggesting the path of Image

In [102]:
base_path = '../kagglehub/datasets/hsankesara/flickr-image-dataset/versions/1/flickr30k_images/flickr30k_images/'
labels_csv['image_path'] = labels_csv['image_name'].apply(lambda x: base_path + x)

In [103]:
labels_csv

,image_name,comment_number,comment,image_path
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...,../kagglehub/datasets/hsankesara/flickr-image-...
1,1000092795.jpg,1,"Two young , White males are outside near many...",../kagglehub/datasets/hsankesara/flickr-image-...
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .,../kagglehub/datasets/hsankesara/flickr-image-...
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .,../kagglehub/datasets/hsankesara/flickr-image-...
4,1000092795.jpg,4,Two friends enjoy time spent together .,../kagglehub/datasets/hsankesara/flickr-image-...
...,...,...,...,...
158910,998845445.jpg,0,A man in shorts and a Hawaiian shirt leans ov...,../kagglehub/datasets/hsankesara/flickr-image-...
158911,998845445.jpg,1,"A young man hanging over the side of a boat ,...",../kagglehub/datasets/hsankesara/flickr-image-...
158912,998845445.jpg,2,A man is leaning off of the side of a blue an...,../kagglehub/datasets/hsankesara/flickr-image-...
158913,998845445.jpg,3,"A man riding a small boat in a harbor , with ...",../kagglehub/datasets/hsankesara/flickr-image-...
158914,998845445.jpg,4,A man on a moored blue and white boat with hi...,../kagglehub/datasets/hsankesara/flickr-image-...

### 2. Droping unnecessary Columns

In [104]:
# drop column='image_name'
labels_csv=labels_csv.drop(columns=['image_name'])
# drop column='comment_number'
labels_csv=labels_csv.drop(columns=[' comment_number'])

In [105]:
labels_csv

,comment,image_path
0,Two young guys with shaggy hair look at their...,../kagglehub/datasets/hsankesara/flickr-image-...
1,"Two young , White males are outside near many...",../kagglehub/datasets/hsankesara/flickr-image-...
2,Two men in green shirts are standing in a yard .,../kagglehub/datasets/hsankesara/flickr-image-...
3,A man in a blue shirt standing in a garden .,../kagglehub/datasets/hsankesara/flickr-image-...
4,Two friends enjoy time spent together .,../kagglehub/datasets/hsankesara/flickr-image-...
...,...,...
158910,A man in shorts and a Hawaiian shirt leans ov...,../kagglehub/datasets/hsankesara/flickr-image-...
158911,"A young man hanging over the side of a boat ,...",../kagglehub/datasets/hsankesara/flickr-image-...
158912,A man is leaning off of the side of a blue an...,../kagglehub/datasets/hsankesara/flickr-image-...
158913,"A man riding a small boat in a harbor , with ...",../kagglehub/datasets/hsankesara/flickr-image-...
158914,A man on a moored blue and white boat with hi...,../kagglehub/datasets/hsankesara/flickr-image-...

In [106]:
#open a smaple image -- to check path is correct
# Provide the path to the image file
image_path = labels_csv['image_path'][0]

# Open the image
img = Image.open(image_path)

# Display the image
img.show()

Opening in existing browser session.